a{
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the text color from the parent */
}

body{
  user-select: none;
  font-family: inter, EuclidCircularB-Bold, sans-serif;
}

input {
  width: 30rem;
  height: 3rem;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  opacity: 0.5;
  transition: opacity 0.5s;
  outline: none;
}

input:hover {
  opacity: 1;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  background: url('../resources/images/form-background.jpg') no-repeat center center;
  background-size: cover; /* Ensures full image coverage */
}

/* See-Through, Blurred Form Container */
.form-container {
  position: relative; /* Keeps it above the blurred background */
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.3); /* Subtle white border */
  background-color: rgb(255, 255, 255); /* Semi-transparent white */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.selection-form {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.selection-text {
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}

button {
  display: block;
  height: 3rem;
  width: 30rem;
  margin: 0px 1px 0px 1px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgb(100, 43, 115), rgb(198, 66, 110));
  color: white;
  cursor: pointer;
}

.select-div {
  background-color: purple;
  height: 5px;
  width: 5rem;

  border-radius: 5px;
  margin: auto;
}

.home {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 15px 0px 15px 15px;
  color: white;
  border: solid;
  border-color: black;
  border-width: 2px;
  padding: 10px 15px 7px 15px;
  border-radius: 10px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.home:hover {
  opacity: 1;
}

.image {
  width: 25px;
}