.second-screen {
  /* background-color: rgb(2, 30, 41); */
  /* background: url('../resources/images/driver.jpg') no-repeat center center; */
  min-height: 85vh;
  color: white;
  padding-top: 10px;
  color: black;
  font-size: 12px;
  margin-bottom: 50px;
}

.second-button-container {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


.second-screen-header {
  font-size: 55px;
}
/* .second-screen {
  font-size: 30px;
} */

/* .second-text-container {
  width: 20rem;
} */

.second-second-text {
  display: inline-block;
}

.second-screen-text{
  display: inline-block;
}

.second-button {
  height: 34px;
  width: 135px;
  border-radius: 20px;
  border: none;
  background-image: linear-gradient(to right, rgb(100, 43, 115), rgb(198, 66, 110));
  color: white;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
}

.second-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

/* .adjust-container {
  position: relative;
  right: 90px; 
} */

span {
  font-size: 60px;
  font-weight: bold;
}

.span {
  display: inline-block;
}

.driver-image {
  width: 550px;
  border-radius: 20px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}