.third-screen {
  background-color: rgb(236, 230, 230);
  /* background: url('../resources/images/inside-bus.jpg') no-repeat center center; */
  min-height: 80vh;
  color: white;
  padding-top: 1rem;
  margin-bottom: 5rem ;
}

.third-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-screen-button {
  height: 34px;
  width: 200px;
  border-radius: 20px;
  border: none;
  background-image: linear-gradient(to right, rgb(100, 43, 115), rgb(198, 66, 110));
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);

}

.third-text-container {
  display: grid;
  grid-template-columns: 20rem 20rem;
  column-gap: 30rem;

  margin-left: 5rem;
  margin-right: 3rem;
  margin-top: 0px;
}

.third-screen-header {
  color: rgb(7, 129, 138);
  font-size: 39px;
  font-weight: bold;
  margin-bottom: 0px;
}

.third-screen-text {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0px;
  
}

/*  */
.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 1rem;

  width: 50rem;
}

.text-box img{
  width: 390px;
  border-radius: 15px;
  margin: auto;
  object-fit: cover;
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}


.box-text-container {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
  /* height: 10rem; */
  color: black;

  margin-left: 11rem;
  margin-right: 10rem;
  margin-top: 10rem;

  border: rgba(255, 255, 255, 0.3); /* Subtle white border */
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  backdrop-filter: blur(15px); /* Glassmorphism effect */
}

.text-box {
  border-radius: 15px;
  height: 90px;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;

  cursor: pointer;
}



.box-header {
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  text-align: center;

}

.box-text {
  font-size: 10px;
  margin-top: 3px;
  text-align: left;
  line-height: 13px;
}